<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layouts/main :: head}">
    <title id="title">Home</title>
</head>
<body>
<th:block th:replace="~{layouts/main :: main(content=~{::div#content})}">
    <div id="content">
        <div class="bg-white shadow rounded-lg p-6 mb-6">
            <h1 class="text-3xl font-bold text-gray-800 mb-4">
                <span sec:authorize="!isAuthenticated()">Welcome to Vendoria!</span>
                <span sec:authorize="isAuthenticated()">
                    Hello, <span sec:authentication="name" class="text-green-600"></span>!
                </span>
            </h1>

            <p class="text-gray-600">Find best products.</p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-6">
            <div class="bg-white shadow rounded-lg p-6">
                <h2 class="text-xl font-semibold text-gray-800 mb-4">Catalog</h2>
                <p class="text-gray-600 mb-4">Перегляньте наш широкий асортимент товарів</p>
                <a href="/products"
                   class="inline-block bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 transition duration-300">
                    See products
                </a>
            </div>

            <!-- Для авторизованих користувачів -->
            <div sec:authorize="isAuthenticated() and hasAuthority('ROLE_[USER]')"
                 class="bg-white shadow rounded-lg p-6">
                <h2 class="text-xl font-semibold text-gray-800 mb-4">My cart</h2>
                <p class="text-gray-600 mb-4">Перегляньте товари у вашому кошику</p>
                <a href="/cart"
                   class="inline-block bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 transition duration-300">
                    Перейти до кошика
                </a>
            </div>

            <!-- Для адміністраторів -->
            <div sec:authorize="hasAuthority('ROLE_[ADMIN]')"
                 class="bg-white shadow rounded-lg p-6">
                <h2 class="text-xl font-semibold text-gray-800 mb-4">Administrator panel</h2>
                <p class="text-gray-600 mb-4">Manage Products</p>
                <div class="space-y-2">
                    <a href="/admin/products"
                       class="block bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition duration-300 text-center">
                        Manage Products
                    </a>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>