<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendoria - <th:block th:include=":: #title"/></title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<th:block th:fragment="main(content)">
    <nav class="bg-white shadow-lg">
        <div class="max-w-7xl mx-auto px-4">
            <div class="flex justify-between">
                <div class="flex space-x-7">
                    <div>
                        <a href="/" class="flex items-center py-4 px-2">
                            <span class="font-semibold text-gray-500 text-lg">Vendoria</span>
                        </a>
                    </div>
                    <div class="hidden md:flex items-center space-x-1">
                        <a href="/products"
                           class="py-4 px-2 text-gray-500 hover:text-green-500 transition duration-300">Products</a>

                        <a sec:authorize="hasAuthority('ROLE_[ADMIN]')" href="/admin/users"
                           class="py-4 px-2 text-gray-500 hover:text-green-500 transition duration-300">Users</a>

                        <a sec:authorize="hasAuthority('ROLE_[ADMIN]')" href="/admin/products"
                           class="py-4 px-2 text-gray-500 hover:text-green-500 transition duration-300">Products
                            manage</a>

                        <a href="/cart"
                           class="py-4 px-2 text-gray-500 hover:text-green-500 transition duration-300">Cart</a>
                    </div>
                </div>

                <!-- Кнопки входу/реєстрації -->
                <div class="hidden md:flex items-center space-x-3">
                    <div sec:authorize="!isAuthenticated()">
                        <a href="/signin"
                           class="py-2 px-2 font-medium text-gray-500 rounded hover:bg-green-500 hover:text-white transition duration-300">Logout</a>
                        <a href="/register"
                           class="py-2 px-2 font-medium text-white bg-green-500 rounded hover:bg-green-400 transition duration-300">Register</a>
                    </div>
                    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                        <button type="submit"
                                class="py-2 px-2 font-medium text-white bg-red-500 rounded hover:bg-red-400 transition duration-300">
                            Logout
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <!-- Основний контент -->
    <main class="container mx-auto mt-4">
        <th:block th:replace="${content}"/>
    </main>
</th:block>
</body>
</html>